body{
    background-color: black;
}

#tarjeta1{
    background-color: black;
    font-size: 10px;
}
#tarjeta2{
    background-color: black;
    font-size: 10px;
}
#tarjeta3{
    background-color: black;
    font-size: 10px;
}
.navbar{
    background-color:rgba(36, 166, 183, 0.699);
}