body{
    background-color: black;
    margin: 0;
    padding: 0;
}

#tarjeta1{
    background-color: black;
}
#tarjeta2{
    background-color: black;
}
#tarjeta3{
    background-color: black;
    border-color: black;
}
.navbar{
    background-color:rgba(36, 166, 183, 0.699);
}